---
---

@import "./mixins";
@import "./variables";
@import "./nav-mobile";
@import "./footer-mobile";
@import "./nav";
@import "./footer";
@import "./sections";

* {
    margin: 0;
    font-family: "Source Sans Pro";
    scroll-behavior: smooth;
    box-sizing: border-box;
}