---
---

@import "./mixins.scss";
@import "./variables.scss";
@import "./nav-mobile.scss";
@import "./footer-mobile.scss";
@import "./nav.scss";
@import "./footer.scss";
@import "./sections.scss"

* {
    margin: 0;
    font-family: "Source Sans Pro";
    scroll-behavior: smooth;
    box-sizing: border-box;
}