---
---

@import "./mixins.scss";
@import "./variables";
@import "./nav-mobile";
@import "./footer-mobile";
@import "./nav.scss";
@import "./sections.scss";
@import "./footer";

* {
    margin: 0;
    font-family: "Source Sans Pro";
    scroll-behavior: smooth;
    box-sizing: border-box;
}